.card-img-hover {
  .card-img-top {
    object-fit: cover;
    object-position: center;
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
  }
  .product-information {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 70%;
    opacity: 0;
    transition: all 0.5s ease-out;
  }

  &:hover {
    .card-img-top {
      opacity: 0.9;
      // filter: brightness(80%);
      transform: scale(1.2, 1.2);
    }
    .product-information {
      top: 50%;
      opacity: 1;
    }
  }
}
